/* Variables to use for color */
:root {
    --dark-green-accent: #94B49F;
    --light-green-accent: #CEE5D0;
    /* Variables to use for fonts */
    --font-accent: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-main: Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color for whole page */
html {
    background-color: #FCF8E8;
}

/* Styling for header */
header {
    width: 100%;
    height: 100px;
    padding: 15px;
    background-color: var(--light-green-accent);
}

#profile-pic {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50px;
}

header img {
    max-width: 100%;
    max-height: 100%;
}
/* Styling for navigation */
nav {
    position: absolute;
    top: 25px;
    right: 0;
    font-family: var(--font-main);
}

nav ul li {
    display: inline-block;
    margin-top: 18px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
}

nav ul li:hover {
    color: var(--dark-green-accent);
    border-bottom: 2px solid currentColor;
}

/* Styling for name and graphic */
.name-and-graphic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 750px;
}

.name-and-graphic h1 {
    font-size: 100px;
    font-family: var(--font-accent);
}

/* To make my last name in the header a different color */
#last-name {
    display: block;
    position: relative;
    left: 50px;
    color: var(--dark-green-accent);
}

.name-and-graphic img {
    height: 500px;
    width: 500px;
}

/* Styling for articles */
.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articles article {
    width: 50%;
}