/* Variables to use for color */
:root {
    --dark-green-accent: #94B49F;
    --light-green-accent: #CEE5D0;
    --orange-accent: #ECB390;
    /* Variables to use for fonts */
    --font-accent: "Calibre","Inter","San Francisco","SF Pro Text",-apple-system,system-ui,sans-serif;
    --font-main: Biotif-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
}

/* Universal selector */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Background color for whole page */
html {
    background-color: #FCF8E8;
}

/* Styling for header */
header {
    width: 100%;
    height: 100px;
    padding: 15px;
    background-color: var(--light-green-accent);
}

.profile-pic {
    height: 150px;
    width: 150px;
    position: absolute;
    left: 50px;
}

header img {
    max-width: 100%;
    max-height: 100%;
}
/* Styling for navigation */
nav {
    position: absolute;
    top: 25px;
    right: 0;
    font-family: var(--font-main);
}

nav ul li {
    display: inline-block;
    margin-top: 18px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
}

nav ul a {
    color: var(--dark-green-accent);
    text-decoration: none;
}

/* Styling for hover effect on nav links */
nav ul li:hover {
    color: var(--dark-green-accent);
    border-bottom: 2px solid currentColor;
}

/* Styling for name and graphic */
.name-and-graphic {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 750px;
}

.name-and-graphic h1 {
    font-size: 100px;
    font-family: var(--font-accent);
}

/* To make my last name in the header a different color */
.last-name {
    display: block;
    position: relative;
    left: 50px;
    color: var(--dark-green-accent);
}

.name-and-graphic img {
    height: 500px;
    width: 500px;
}

/* Styling for main body of text */
.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.articles article {
    width: 75%;
    padding: 25px;
    margin: 35px;
    border: 5px;
    border-style: outset;
    border-color: var(--dark-green-accent);
}

.articles h2 {
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

.articles p, li {
    line-height: 28px;
}

/* Styling for work section */
.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.work a {
    position: relative;
    width: 50%;
}

/* To make first project bigger size */
.work #first-project,
#project {
    width: 100%;
}

#salty-project {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Hover overlay effects for work section */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.overlay:hover {
    opacity: 1;
}

.overlay-title {
    font-weight: bold;
    text-align: center;
}

.overlay-desc {
    font-weight: lighter;
    line-height: 30px;
    width: 75%;
    text-align: center;
    font-size: 15px;
}

/* Styling for contact section */
.contact a {
    color: black;
    text-decoration: none;
}

.contact a:hover {
    color: var(--dark-green-accent);
    text-decoration: underline;
}

/* For responsive design */
@media screen and (max-width: 992px) {
    /* Hides visual for screens smaller than a tablet */
    .name-and-graphic img {
        display: none;
    }

    /* Centers name since visual is gone */
    .name-and-graphic {
        justify-content: center;
    }
    
}

@media screen and (max-width: 650px) {
    /* Fixes header for some smartphone screens */
    nav ul li {
        margin-left: 20px;
        margin-right: 20px;
    }

     /* Fixes overlay title and desc font size */    
     .overlay-title {
        font-size: 15px;
    }
    
    .overlay-desc {
        line-height: normal;
        font-size: 15px;
    }
}

@media screen and (max-width: 500px) {
    /* Fixes header for small smartphone screens */
    nav ul li {
        margin-left: 2px;
        margin-right: 2px;
    }

     /* Fixes overlay title and desc font size */    
     .overlay-title {
        font-size: 10px;
    }
    
    .overlay-desc {
        line-height: normal;
        font-size: 10px;
    }
}

/* Basis for smallest screens */
@media screen and (max-width: 400px) {
    /* Gets rid of profile picture for smaller screens */
    .profile-pic {
        display: none;
    }

    /* Fixes nav */
    nav ul li {
        margin-left: 0;
        margin-right: 0;
        font-size: 20px;
    }

    /* Fixes name */
    .name-and-graphic {
        flex-direction: column;
        align-items: center;
    }

    .name-and-graphic h1 {
        font-size: 30px;
    }

    .last-name {
        position: static;
        display: inline;
    }

    /* Fixes header for about, work, and contact sections */
    .articles h2 {
        font-size: 20px;
    }

    /* Fixes overlay title and desc font size */    
    .overlay-title {
        font-size: 10px;
    }
    
    .overlay-desc {
        line-height: normal;
        font-size: 5px;
    }
}